<head>
<title>Home</title>
</head>
<body>
<table style = "margin-left :500px; ">
<tr>
<td>
<h1>Welcome To</h1></td>
</tr>
<tr>
<td>{% load static %} <img src="{% static "images/bowl_company.jpg" %}" alt="Hi!" align="middle" /></td></tr>
<tr>
<td>
<a href = "{% url 'remoteordering:detail' %}"><button type='button' onclick="" style = "background-color: #000000;border: none;color: white;padding: 25px 40px;text-align: center;font-size: 16px;cursor: pointer;" >ORDER</button></a></td>
</tr>
</table>
</body>
